# https://s3-eu-west-1.amazonaws.com/download.agisoft.com/Metashape-1.8.3-cp35.cp36.cp37.cp38-abi3-linux_x86_64.whl
https://s3-eu-west-1.amazonaws.com/download.agisoft.com/Metashape-1.7.4-cp35.cp36.cp37.cp38-abi3-linux_x86_64.whl
imageio